	body {
		margin: 0px;
		padding: 0px;
		background-color: #ffffff;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		background-color: #ffffff;
		background-repeat: repeat-x;
		color: #515151;
	}
	
	frame {
		border-style: solid;
		border-width:1px;
		color: #FF9933;
	}
	
	.totali {
		margin-left: 20px;
		margin-right: 20px;
	}
	
	.totali td {
		text-align: right;
		background-color: #ffffff;
	}
	
	#main {
		margin-left: 20px;
		margin-right: 20px;
	}

	#menu-accordion {
		float: left;
		width: 250px;
		margin-left: 10px;
		margin-top: 15px;
	}
	#menu-accordion h3 {
		font-size: 1em;
	}
	#menu-accordion ul {
		padding: 0px;
		margin: 0px;
		margin-bottom: 10px;
		list-style-type: disc;
	}
	#menu-accordion li a {
		color: #515151;
		font-weight: bolder;
		text-decoration: none;
	}
	#menu-accordion li a:hover {
		color: #85010f;
	}
	* {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
	h1 {
		text-align: center;
		font-size: 1.5em;
		color: #3399FF;
	}
	h2 {
		text-align: left;
		font-size: 1.2em;
	}
	h3 {
		text-align: left;
		margin-top: 50px;
		font-size: 1.2em;
		color: #3399FF;
	}
	hr { 
		display: block;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	} 
	
	input[type="text"], textarea {
		border: 1px solid #515151;
	}
	
	.smallNote {
		font-size: 0.8em;
	}
	
	a:link {
		text-decoration: none;
	}

	a:visited {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	a:active {
		text-decoration: underline;
	}
	.result-alt {
		border: 7px solid #f6f6f6;
		background-color: #f6f6f6;
	}
	.result-alt th {
		font-weight: bolder;
		background-color: #858585;
		color: white;
		padding-left: 5px;
		padding-right: 5px;
	}
	.result-alt th a {
		text-decoration: none;
		color: white;
	}	
	.result-alt td {
		text-align: left;
		background-color: #ffffff;
	}	
	.result-alt .on {
		background-color: #000000;
	}
	.result, .ricerca, .dettaglio, .datiCreate {
		border: 7px solid #ececec;
	}
	.result tfoot, .result_alt tfoot, .ricerca tfoot, .dettaglio tfoot, .datiCreate tfoot {
		text-align: right;
	}
	.datiCreate tbody {
		valign: top;
	}
	.result th, .dettaglio th {
		font-weight: bolder;
		background-color: #666666;
		color: white;
		padding-left: 5px;
		padding-right: 5px;
	}
	.result th a {
		text-decoration: none;
		color: white;
	}
	.result .on, .dettaglio .on {
		background-color: #ECECEC;
	}
	.result .modifiedOn {
		background-color: #ECECEC;
		font-weight: bolder;
	}
	.result .modifiedOff {
		font-weight: bolder;
	}
	.result .provModifiedOn {
		background-color: #ECECEC;
		font-weight: bolder;
		color: #A5A5A5;
	}
	.result .provModifiedOff {
		font-weight: bolder;
		color: #A5A5A5;
	}
	.result .error {
		background-color: #aa0433;
		color: white; 
		font-weight: bolder;
	}
	.result .center {
		text-align: center;
	}
	.result .icon {
		width: 20px;
		text-align: center;
	}
	.result td.right {
		text-align: right;
	}

	.insert .field_label {
		text-align: right;
	}
	.insert .field_value {
		text-align: left;
	}

	.dettaglio .value {
		text-align: right;
		font-weight: bolder;
	}
	.dettaglio .value a {
		color: #aa0433;
		font-weight: bolder;
		text-decoration: none;
	}	

	.buttonDente {
		position: relative;
		line-height: normal;
		margin: 0px;
		padding: 0px;
		width: 25px;
		height: 20px;
		text-align: center;
		font-size: 8px;
		color: #3399FF;
		cursor: pointer;
		vertical-align: middle;
		text-align: center;
		overflow: visible; /* removes extra width in IE */

	}
	.buttonDente:hover {
		font-weight: bolder;
		text-decoration: none;
	}
}

