<tr %class%>
	<td width="88" align="center">%idvisita%</td>
	<td width="88" align="center">%datainserimento%</td>
	<td width="108" align="center">%stato%</td>
	<td id="icons"><a class="tooltip" href="../visita/dettaglioVisitaFacade.class.php?modo=start&idPaziente=%idpaziente%&idListino=%idlistino%&idVisita=%idvisita%&datainserimento=%datainserimento%&stato=%stato%&cognRic=%cognomeRicerca%&cognome=%cognome%&nome=%nome%&datanascita=%datanascita%"><li class="ui-state-default ui-corner-all" title="Dettaglio"><span class="ui-icon ui-icon-search"></span></li></a></td>
	<td id="icons">%bottoneModifica%</td>
	<td id="icons">%bottoneCancella%</td>
</tr>
