<tr %class%>
	<td width="88" align="center">%idvisita%</td>
	<td width="88" align="center">%datainserimento%</td>
	<td width="108" align="center">%stato%</td>
	<td width="30" id="icons"><a class="tooltip" href="../visita/dettaglioVisitaFacade.class.php?modo=start&idVisita=%idvisita%&datainserimento=%datainserimento%&stato=%stato%"><li class="ui-state-default ui-corner-all" title="Dettaglio"><span class="ui-icon ui-icon-search"></span></li></a></td>
	<td width="30" id="icons">%bottoneModifica%</td>
	<td width="30" id="icons">%bottoneCancella%</td>
</tr>
