<body>
	
<div id="body">
	<div id="main">
		
		<h2>%titoloPagina%</h2>
		<table class="ricerca">
			<tbody>
				<tr>
					<td>%ml.paziente% :</td> <td><strong>%cognome% %nome%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>%ml.dataNasc% :</td> <td><strong>%datanascita%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>%ml.idvisita% :</td> <td><strong>%idVisita%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>%ml.datainserimento% :</td> <td><strong>%datainserimento%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td>%ml.statovisita% :</td> <td><strong>%stato%</strong></td>						
				</tr>
			</tbody>
		</table>
		<br>
		<table>
			<tr>
				<td>
					<form class="tooltip" method="post" action="%azione%" >
						<button class="button" title="%azioneTip%" >%labelBottone%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idVisita" value="%idVisita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../visita/ricercaVisitaFacade.class.php?modo=start" >
						<button class="button" title="%ml.funzPrec%" %azione% >%ml.indietro%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idVisita" value="%idVisita%"/>
					</form>		
				</td>
			</tr>
		</table>
		<br>			
		<div class="scroll">
		%riepilogoDentiSingoliDiv%
		%riepilogoGruppiDiv%
		%riepilogoCureDiv%
		</div>
	</div>
</div>
<br/>
