<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Odontolinux!</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<div id="main">
		
<h2>Benvenuto su Odontolinux!</h2>
</br>

<font size="-4">
<pre class="smallNote">
Copyright © 2014-2015 Barbieri Stefano

stebakite@gmail.com

This information is free; you can redistribute it and/or modify
it under the terms of the GNU General Public License as
published by the Free Software Foundation; either version 2 of
the License, or (at your option) any later version.

This work is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public
License along with this work; if not, write to the Free Software
Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
</pre>
</font>
</div>
</body>
</html>