<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Odontolinux!</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<div id="main">
		
<h2>Benvenuto, seleziona un men&ugrave; per cominciare</h2>

<font size="-4">
<pre class="smallNote">
Questa versione è la 1.0.0 - puoi aprire difetti e proporre nuove funzionalità direttamente al team di sviluppo dal repository <a target="_blank" href="https://github.com/StebaKite/ellipse">GitHub</a> 
Effettua il login e fai click su "issues" per creane una nuova. Specifica di cosa si tratta e descrivi in modo chiaro e dettagliato il problema. Puoi allegare foto, disegni, appunti.  



Copyright © 2014-2015 Barbieri Stefano  -  stebakite@gmail.com

</pre>
</font>
</div>
</body>
</html>
