<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ellipse</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<frameset rows="80px,100%">
  <frame src="testa.html" noresize="noresize" frameborder="0" scrolling="no">
  <frameset cols="270px,90%">
	<frameset rows="100%,250px">
		<frame src="menu.html" noresize="noresize" frameborder="0" scrolling="no">
		<frame src="../src/main/menubannerFacade.class.php?modo=start" noresize="noresize" frameborder="0" scrolling="no">
	</frameset>
    <frame name="corpo" src="corpo.html" noresize="noresize" frameborder="0" scrolling="yes">
  </frameset>
</frameset>

</html>
