<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Odontolinux!</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>
<body>
	<div id="body">
	
		<div id="menu-accordion">
			<h3>Pazienti</h3>
			<div>
				<li><a href="../src/paziente/ricercaPazienteFacade.class.php?modo=start" target="corpo">Ricerca Paziente</a></li>
			</div>
			<h3>Impostazioni</h3>
			<div>
				<li><a href="../src/impostazioni/ricercaCategoriaFacade.class.php?modo=start" target="corpo">Voci</a></li>
				<li><a href="../src/impostazioni/ricercaListinoFacade.class.php?modo=start" target="corpo">Listini</a></li>
			</div>
			<h3>Preferenze</h3>
			<div>
				<li><a href="../src/utility/modificaConfigFacade.class.php?modo=start" target="corpo">Sistema</a></li>
				<li><a href="../src/utility/modificaConfigPreventivoFacade.class.php?modo=start" target="corpo">Preventivi</a></li>
			</div>
			<h3>Strumenti</h3>
			<div>
				<li><a href="../src/strumenti/ricercaConfigurazioneFacade.class.php?modo=start" target="corpo">Configurazioni</a></li>
				<li><a href="../src/strumenti/importaDatiFacade.class.php?modo=start" target="corpo">Importa Dati</a></li>
			</div>
		</div>
		
	
<script src="../jquery/external/jquery/jquery.js"></script>
<script src="../jquery/jquery-ui.js"></script>
<script src="../js/local.js"></script>

</body>
</html>
