<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Odontolinux!</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>
<body>
	<div id="body">
		
		<div id="main">

			<input class="datepicker" name="data" size="10"/>
		
				
		</div>
	</div>
	
<script src="../jquery/external/jquery/jquery.js"></script>
<script src="../jquery/jquery-ui.js"></script>
<script src="../js/local.js"></script>

</body>
</html>