<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Ellipse</title>
	<link href="../jquery/jquery-ui.css" rel="stylesheet">
	<style type="text/css" media="screen">
	
		@import url("../css/main.css");
		@import url("../css/jquery.css");
		
	</style>
</head>

<body>
	<div id="body">

		<table>
			<tr>
				<td style="width: 130px">
					<a href="corpo.html" target="corpo"><img src="../images/images_1.jpg" style="width: 50%"></img></a>
				</td>
				<td>
					<h1>Ellipse&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>(Versione 1.0.0)</i></h1>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
