<body>
	
<div id="body">
	<div id="main">
		<form method="post" action="%azione%" >
			<h2>%titoloPagina%</h2>
			<table class="datiCreate">
				<tbody>
					<tr>
						<td>%ml.progressivo% :</td>
						<td class="tooltip"><input class="spinner" name="progressivo" style="%progressivoStyle%" title="%progressivoTip%" size="10" maxlength="10" value="%progressivo%" %progressivoDisable% /></td>
					</tr>
					<tr>
						<td>%ml.classe% :</td>
						<td class="tooltip"><input type="text" name="classe" required style="%classeStyle%" title="%classeTip%" size="50" maxlength="50" value="%classe%" %classeDisable% /></td>
					</tr>
					<tr>
						<td>%ml.filepath% :</td>
						<td class="tooltip"><input type="text" name="filepath" required style="%filepathStyle%" title="%filepathTip%" size="80" maxlength="80" value="%filepath%" %filepathDisable% /></td>
					</tr>
					<tr>
						<td>%ml.stato% :</td>
						<td>
							<div class="radioset">
								<input type="radio" id="daeseguire" name="stato" value="00"  %statoDisable% %statoDaeseguireChecked%><label for="daeseguire">%ml.daeseguire%</label>
								<input type="radio" id="eseguito" name="stato" value="01" %statoDisable% %statoEseguitoChecked%><label for="eseguito">%ml.eseguito%</label>
							</div>
						</td>
					</tr>	
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip">
							<button class="button" title="%testoAzione%" >%ml.conferma%</button>
							<input type="hidden" name="idguida" value="%idguida%"/>
						</td>
					</tr>
				</tfoot>
			</table>
			<br/>
		</form>
		<form class="tooltip" method="post" action="../strumenti/ricercaConfigurazioneFacade.class.php?modo=start" >
			<button class="button" title="Torna alla funzione precedente" %azione% >%ml.indietro%</button>
		</form>
	</div>
</div>
<br/>					