<tr %class%>
	<td align="center">%progressivo%</td>
	<td id="icons">%stato%</td>
	<td align="center">%classe%</td>
	<td align="left">%filepath%</td>
	<td id="icons"><a class="tooltip" href="modificaConfigurazioneFacade.class.php?modo=start&idguida=%idguida%&progressivo=%progressivo%&classe=%classe%&filepath=%filepath%&stato=%stato%"><li class="ui-state-default ui-corner-all" title="%ml.modificaConfigurazione%"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="ricercaRegoleConfigurazioneFacade.class.php?modo=start&idguida=%idguida%&progressivo=%progressivo%&classe=%classe%&filepath=%filepath%&stato=%stato%"><li class="ui-state-default ui-corner-all" title="%ml.regoleConfigurazione%"><span class="ui-icon ui-icon-wrench"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="cancellaConfigurazioneFacade.class.php?modo=start&idguida=%idguida%&progressivo=%progressivo%&classe=%classe%&filepath=%filepath%&stato=%stato%"><li class="ui-state-default ui-corner-all" title="%ml.cancellaConfigurazione%"><span class="ui-icon ui-icon-trash"></span></li></a></td>
</tr>
