<tr %class%>
	<td align="center">%posizionevalore%</td>
	<td align="left">%colonna%</td>
	<td id="icons"><a class="tooltip" href="modificaRegolaConfigurazioneFacade.class.php?modo=start&idguida=%idguida%&progressivo=%progressivo%&classe=%classe%&filepath=%filepath%&stato=%stato%&iddettaglioguida=%iddettaglioguida%&colonna=%colonna%&posizionevalore=%posizionevalore%"><li class="ui-state-default ui-corner-all" title="%ml.modificaRegolaConfigurazione%"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="cancellaRegolaConfigurazioneFacade.class.php?modo=start&idguida=%idguida%&progressivo=%progressivo%&classe=%classe%&filepath=%filepath%&stato=%stato%&iddettaglioguida=%iddettaglioguida%&colonna=%colonna%&posizionevalore=%posizionevalore%"><li class="ui-state-default ui-corner-all" title="%ml.cancellaRegolaConfigurazione%"><span class="ui-icon ui-icon-trash"></span></li></a></td>
</tr>
