<body onload="impostaProgressBarPagamento(%totalePagatoProgressBar%, %totaleFuoriPianoProgressBar%)">
	
<div id="body">	
	<div id="main">

		<h2>%titoloPagina%</h2>
		<table>
			<tr>
				<td>
					<form class="tooltip" method="post" action="%azioneDentiSingoli%" >
						<button class="button" title="%ml.modificaSingoli%" %azione% >%ml.dentiSingoli%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
						<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
						<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
						<input type="hidden" name="stato" value="%stato%"/>
						<input type="hidden" name="totalesingoli" value="%totsingoli%"/>
						<input type="hidden" name="totalegruppi" value="%totgruppi%"/>
						<input type="hidden" name="totalecure" value="%totcure%"/>
						<input type="hidden" name="importosconto" value="%importoSconto%"/>
					</form>		
				</td>			
				<td>
					<form class="tooltip" method="post" action="%azioneGruppi%" >
						<button class="button" title="%ml.modificaGruppi%">%ml.gruppi%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
						<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
						<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
						<input type="hidden" name="stato" value="%stato%"/>
						<input type="hidden" name="totalesingoli" value="%totsingoli%"/>
						<input type="hidden" name="totalegruppi" value="%totgruppi%"/>
						<input type="hidden" name="totalecure" value="%totcure%"/>
						<input type="hidden" name="importosconto" value="%importoSconto%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="%azioneCure%" >
						<button class="button" title="%ml.modificaCure%">%ml.cure%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
						<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
						<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
						<input type="hidden" name="stato" value="%stato%"/>
						<input type="hidden" name="totalesingoli" value="%totsingoli%"/>
						<input type="hidden" name="totalegruppi" value="%totgruppi%"/>
						<input type="hidden" name="totalecure" value="%totcure%"/>
						<input type="hidden" name="importosconto" value="%importoSconto%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../preventivo/ricercaPreventivoFacade.class.php?modo=start" >
						<button class="button" title="%ml.funzPrec%">%ml.indietro%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
			</tr>
		</table>
		
		<div class="tabs">
			<ul>
				<li><a href="#tabs-1">%cognome% %nome% %datanascita% %preventivo% %idPreventivo%%idSottoPreventivo% %totale% %totpreventivo%</a></li>
				%tabelencoratepagamento%
				<li><a href="#tabs-3">%ml.info%</a></li>
			</ul>
			
			<div id="tabs-1">
			
				<form method="post" action="%azionePagamento%" >

					<table>
						<tbody>
							<tr>
								<td width="215" valign="top">
									<table>
										<tbody>
											<tr>
												<td><h2>%ml.situazionePagamenti%</h2></td>											
											</tr>
											<tr>
												<td>%ml.totalePagatoInPiano% :</td>
												<td><h4>%totalePagatoInPiano%</h4></td>
											</tr>
											<tr>
												<td>%ml.totaleDapagareInPiano% :</td>
												<td><h4>%totaleDaPagareInPiano%</h4></td>
											</tr>
											<tr>
												<td>%ml.totaleDapagareFuoriPiano% :</td>
												<td><h4>%totaleDaPagareFuoriPiano%</h4></td>
											</tr>

										</tbody>
									</table>
								</td>
								<td width="80">
									<table>
										<tbody>
											<tr></tr>
											<tr></tr>
											<tr></tr>
											<tr></tr>
										</tbody>
									</table>									
								</td>
								<td width="660" valign="bottom">
									<table>
										<tbody>
											<tr></tr>
											<tr><td width="640"><div id="preventivoPagato"></div></td></tr>
											<tr height="10"></tr>
											<tr><td width="640"><div id="preventivoFuoriPiano"></div></td></tr>
										</tbody>
									</table>									
								</td>
							</tr>
							<tr>
								<table>
									<tbody>
										<tr>
											<td width="200" align="left" valign="top">
												<table>
													<tbody>

														<tr>
															<td><h2>%ml.sconti%</h2></td>											
														</tr>
														<tr>
															<td>%ml.scontopercentuale% :</td>
															<td class="tooltip"><input class="spinner" name="scontopercentuale" size="10" maxlength="10" title="%ml.scontopercentualeTip%" value="%scontopercentuale%" style="%scontopercentualeStyle%" %scontopercentualeDisable% /></td>
														</tr>
														<tr>
															<td>%ml.scontocontante% :</td>
															<td class="tooltip"><input class="spinner" name="scontocontante" size="10" maxlength="10" title="%ml.scontocontanteTip%" value="%scontocontante%" style="%scontocontanteStyle%" %scontocontanteDisable% /></td>
														</tr>
														<tr>
															<td><h2>%ml.rateizzazione%</h2></td>											
														</tr>
														<tr>
															<td>%ml.importodarateizzare% :</td>
															<td class="tooltip"><input class="spinner" name="importodarateizzare" size="10" maxlength="10" title="%ml.importodarateizzareTip%" value="%importodarateizzare%" style="%importodarateizzareStyle%" %importodarateizzareDisable% /></td>
														</tr>
														<tr>
															<td>%ml.dataprimarata% :</td>
															<td class="tooltip"><input class="datepicker" type="text" name="dataprimarata" style="%dataprimarataStyle%" title="%dataprimarataTip%" size="10" maxlength="10" value="%dataprimarata%" %dataprimarataDisable%></td>
														</tr>
														<tr>
															<td>%ml.intervallorata% :</td>
															<td class="tooltip"><input class="spinner" name="numerogiornirata" size="10" maxlength="10" title="%ml.numerogiornirataTip%" value="%numerogiornirata%" style="%numerogiornirataStyle%" %numerogiornirataDisable% /></td>
														</tr>
														<tr>
															<td>%ml.importorata% :</td>
															<td class="tooltip"><input class="spinner" name="importorata" size="10" maxlength="10" title="%ml.importorataTip%" value="%importorata%" style="%importorataStyle%" %importorataDisable% /></td>
														</tr>
													</tbody>
												</table>
											</td>
											<td width="80"></td>
											<td width="500" align="left" valign="top">
												<table>
													<tbody>
														<tr>
															<td><h2>%ml.acconti%</h2></td>											
														</tr>
														<tr>
															<td>
																<table class='result-alt' width="640">
																	<thead>
																		<tr>
																			<th width="70">%ml.datascadenza%</th>
																			<th width="180">%ml.descrizioneacconto%</th>
																			<th width="110">%ml.importoacconto%</th>
																			<th width="100">%ml.stato%</th>
																			<th width="25">&nbsp;</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td class="tooltip"><input class="datepicker" type="text" name="datascadenzaacconto" style="%datascadenzaaccontoStyle%" title="%datascadenzaaccontoTip%" size="8" maxlength="10" value="%datascadenzaacconto%" %datascadenzaaccontoDisable%></td>
																			<td class="tooltip"><input type="text" name="descrizioneacconto" size="35" maxlength="50" title="%ml.descrizioneaccontoTip%" value="%descrizioneacconto%" style="%descrizioneaccontoStyle%" %descrizioneaccontoDisable% /></td>
																			<td class="tooltip"><input class="spinner" name="importoacconto" size="10" maxlength="10" title="%ml.importoaccontoTip%" value="%importoacconto%" style="%importoaccontoStyle%" %importoaccontoDisable% /></td>
																		</tr>
																	</tbody>											
																</table>
																<div class="scroll-acconti">
																%elencoacconti%
																</div>
															</td>
														</tr>											
													</tbody>
												</table>
											</td>																			
										</tr>	
									</tbody>
									<tfoot>
										<tr>
											<td colspan="3" align="right" class="tooltip">
												<button class="button" title="%confermaTip%" >%ml.conferma%</button>
												<input type="hidden" name="idPaziente" value="%idPaziente%"/>
												<input type="hidden" name="idListino" value="%idListino%"/>
												<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
												<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
												<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
												<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
												<input type="hidden" name="cognome" value="%cognome%"/>
												<input type="hidden" name="nome" value="%nome%"/>
												<input type="hidden" name="datanascita" value="%datanascita%"/>
												<input type="hidden" name="stato" value="%stato%"/>
												<input type="hidden" name="totalesingoli" value="%totsingoli%"/>
												<input type="hidden" name="totalegruppi" value="%totgruppi%"/>
												<input type="hidden" name="totalecure" value="%totcure%"/>
											</td>								
										</tr>
									</tfoot>
									
								</table>
							</tr>
					</table>

				</form>
				
			</div>			
			
			%divelencoratepagamento%
						
			<div id="tabs-3">

				<table>
					<tr valign="top">
						<td>
							<p>Note utili sulla funzionalit&agrave di impostazione delle condizioni di pagamento</p>
						</td>
					</tr>
				</table>
				
			</div>			
		</div>
	</div>
</div>