<tr %class% %id%>
	<td  class="tooltip" align="center">%idpreventivo%</td>
	<td align="center">%idsottopreventivo%</td>
	<td align="center">%datainserimento%</td>
	<td align="center">%datamodifica%</td>
	<td align="right">&euro;%totalepreventivo%</td>
	<td align="center">%stato%</td>
	<td id="icons"><a class="tooltip" href="dettaglioPreventivoFacade.class.php?modo=start&idPaziente=%idpaziente%&idListino=%idlistino%&idPreventivo=%idpreventivo%&idSottoPreventivo=%idsottopreventivo%&datainserimento=%datainserimento%&stato=%stato%&cognRic=%cognomeRicerca%&cognome=%cognome%&nome=%nome%&datanascita=%datanascita%"><li class="ui-state-default ui-corner-all" title="Dettaglio"><span class="ui-icon ui-icon-search"></span></li></a></td>
	<td id="icons">%bottoneModifica%</td>
	<td id="icons">%bottoneSplit%</td>
	<td id="icons"><a class="tooltip" href="notaPreventivoFacade.class.php?modo=start&idPaziente=%idpaziente%&idListino=%idlistino%&idPreventivo=%idpreventivo%&idSottoPreventivo=%idsottopreventivo%&datainserimento=%datainserimento%&stato=%stato%&cognRic=%cognomeRicerca%&cognome=%cognome%&nome=%nome%&datanascita=%datanascita%"><li class="ui-state-default ui-corner-all" title="Note"><span class="ui-icon ui-icon-comment"></span></li></a></td>
	<td id="icons">%bottoneCancella%</td>
</tr>
