<tr %class% %id%>
	<td width="80" class="tooltip" align="center">%idpreventivo%</td>
	<td width="73" align="center">%idsottopreventivo%</td>
	<td width="88" align="center">%datainserimento%</td>
	<td width="88" align="center">%datamodifica%</td>
	<td width="88" align="right">&euro;%totalepreventivo%</td>
	<td width="208" align="center">%stato%</td>
	<td id="icons">%bottoneDettaglio%</td>
	<td id="icons">%bottoneModifica%</td>
	<td id="icons">%bottoneSplit%</td>
	<td id="icons"><a class="tooltip" href="../preventivo/notaPreventivoFacade.class.php?modo=start&idPaziente=%idpaziente%&idListino=%idlistino%&idPreventivo=%idpreventivo%&idSottoPreventivo=%idsottopreventivo%&datainserimento=%datainserimento%&stato=%stato%&cognRic=%cognomeRicerca%&cognome=%cognome%&nome=%nome%&datanascita=%datanascita%"><li class="ui-state-default ui-corner-all" title="Note"><span class="ui-icon ui-icon-comment"></span></li></a></td>
	<td id="icons">%bottoneStampa%</td>
	<td id="icons">%bottoneCancella%</td>
</tr>
