<tr %class% %id%>
	<td width="80" class="tooltip" align="center">%idpreventivo%</td>
	<td width="73" align="center">%idsottopreventivo%</td>
	<td width="88" align="center">%datainserimento%</td>
	<td width="88" align="center">%datamodifica%</td>
	<td width="88" align="right">&euro;%totalepreventivo%</td>
	<td width="208" align="center">%stato%</td>
	<td width="30" id="icons">%bottoneDettaglio%</td>
	<td width="30" id="icons">%bottoneModifica%</td>
	<td width="30" id="icons">%bottoneSplit%</td>
	<td width="30" id="icons">%bottoneNota%</td>
	<td width="30" id="icons">%bottoneStampa%</td>
	<td width="30" id="icons">%bottoneCancella%</td>
</tr>

