<table class="result">
	<tbody>
		<tr>
			<td align="left">
				<div class="scroll">
					<table class="result" id="resultTable">
						<thead>
							<tr>
								<th colspan="7"><h2>%ml.vociPreventivoSecondario%</h2></th>
							</tr>
							<tr>
								<th width="40">%ml.dente%</th>
								<th width="40">%ml.singolo%</th>
								<th width="40">%ml.gruppo%</th>
								<th width="40">%ml.cura%</th>
								<th align="center" width="100">%ml.voce%</th>
								<th align="right" width="50">%ml.prezzo%</th>		
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							%elencovocipreventivosecondario%
						</tbody>
					</table>
				</div>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td align="right">
				<div class="scroll">
					<table class="result" id="resultTable">
						<thead>
							<tr>
								<th colspan="7"><h2>%ml.vociPreventivoPrincipale%</h2></th>
							</tr>
							<tr>
								<th>&nbsp;</th>
								<th width="40">%ml.dente%</th>
								<th width="40">%ml.singolo%</th>
								<th width="40">%ml.gruppo%</th>
								<th width="40">%ml.cura%</th>
								<th align="center" width="100">%ml.voce%</th>
								<th align="right" width="50">%ml.prezzo%</th>		
							</tr>
						</thead>
						<tbody>
							%elencovocipreventivoprincipale%
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
