<table class="result">
	<tbody>
		<tr>
			<td align="left">
				<div>
					<table class="result">
						<thead>
							<tr>
								<th colspan="2"><h1>%ml.tot%&nbsp;&euro;%totalePreventivoSecondario%</h1></th>
								<th colspan="5"><h2>%ml.vociPreventivoSecondario%</h2></th>
							</tr>
							<tr>
								<th align="right" width="50">%ml.prezzo%</th>		
								<th align="center" width="100">%ml.voce%</th>
								<th width="40">%ml.cura%</th>
								<th width="40">%ml.gruppo%</th>
								<th width="40">%ml.singolo%</th>
								<th width="40">%ml.dente%</th>
								<th width="20">&nbsp;</th>
							</tr>
						</thead>
					</table>
				</div>
				<div class="scroll-preventivo">
					%elencovocipreventivosecondario%
				</div>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td align="left">
				<div>
					<table class="result">
						<thead>
							<tr>
								<th colspan="5"><h2>%ml.vociPreventivoPrincipale%</h2></th>
								<th colspan="2"><h1>%ml.tot%&nbsp;&euro;%totalePreventivoPrincipale%</h1></th>
							</tr>
							<tr>
								<th width="19">&nbsp;</th>
								<th width="40">%ml.dente%</th>
								<th width="40">%ml.singolo%</th>
								<th width="40">%ml.gruppo%</th>
								<th width="40">%ml.cura%</th>
								<th align="center" width="100">%ml.voce%</th>
								<th align="right" width="51">%ml.prezzo%</th>		
							</tr>
						</thead>
					</table>
				</div>
				<div class="scroll-preventivo">
					%elencovocipreventivoprincipale%
				</div>
			</td>
		</tr>
	</tbody>
</table>
