<body>
	
<div id="body">
	<div id="main">
		<form method="post" action="%azione%" >
			<h2>%titoloPagina%</h2>
			<table class="ricerca">
				<tbody>
					<tr>
						<td>%ml.paziente% :</td> <td><strong>%cognome% %nome%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>%ml.dataNasc% :</td> <td><strong>%datanascita%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>%ml.idpreventivo% :</td> <td><strong>%idPreventivo%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>%ml.datainserimentoPreventivo% :</td> <td><strong>%datainserimento%</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
						<td>%ml.statopreventivo% :</td> <td><strong>%stato%</strong></td>						
					</tr>
				</tbody>
			</table>
			<br>
			<table class="datiCreate">
				<tbody>
					<tr>
						<td>%ml.dente% :</td>
						<td class="tooltip"><input type="text" name="dente" readonly size="5" value="%dente%" /></td>
					</tr>
					<tr>
						<td>%ml.codicevoce% :</td>
						<td class="tooltip"><input type="text" name="codicevoce" readonly size="5" value="%codicevoce%" /></td>
					</tr>
					<tr>
						<td>%ml.descrizionevoce% :</td>
						<td class="tooltip">
							<input type="text" name="descrizionevoce" style="%descrizionevoceStyle%" title="%descrizionevoceTip%" size="100" maxlength="200" value="%descrizionevoce%"/>
							<input type="hidden" name="descrizionevocelistino" value="%descrizionevocelistino%"/>
						</td>
					</tr>
					<tr>
						<td>%ml.prezzo% :</td>
						<td class="tooltip"><input type="number" name="prezzo" required style="%prezzoStyle%" title="%prezzoTip%" size="15" maxlength="10" value="%prezzo%" /></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip">
							<button class="button" title="%testoAzione%" >%ml.conferma%</button>
							<input type="hidden" name="idvocepreventivo" value="%idvocepreventivo%"/>
							<input type="hidden" name="idvocesottopreventivo" value="%idvocesottopreventivo%"/>
							<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
							<input type="hidden" name="idPaziente" value="%idPaziente%"/>
							<input type="hidden" name="idListino" value="%idListino%"/>
							<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
							<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
							<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
							<input type="hidden" name="cognome" value="%cognome%"/>
							<input type="hidden" name="nome" value="%nome%"/>
							<input type="hidden" name="datanascita" value="%datanascita%"/>
							<input type="hidden" name="stato" value="%stato%"/>
						</td>
					</tr>
				</tfoot>
			</table>
			<br/>
		</form>
		<form class="tooltip" method="post" action="../preventivo/dettaglioPreventivoFacade.class.php?modo=start" >
			<button class="button" title="Torna alla funzione precedente" %azione% >%ml.indietro%</button>
			<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
			<input type="hidden" name="idPaziente" value="%idPaziente%"/>
			<input type="hidden" name="idListino" value="%idListino%"/>
			<input type="hidden" name="idPreventivo" value="%idPreventivo%"/>
			<input type="hidden" name="idPreventivoPrincipale" value="%idPreventivoPrincipale%"/>
			<input type="hidden" name="idSottoPreventivo" value="%idSottoPreventivo%"/>
			<input type="hidden" name="datainserimento" value="%datainserimento%"/>
			<input type="hidden" name="stato" value="%stato%"/>
			<input type="hidden" name="cognome" value="%cognome%"/>
			<input type="hidden" name="nome" value="%nome%"/>
			<input type="hidden" name="datanascita" value="%datanascita%"/>
		</form>
		
	</div>
</div>
<br/>					