<body>
	
<div id="body">
	<div id="main">
		<form method="post" action="%azione%" >
			<h2>%titoloPagina%</h2>
			<table class="datiCreate">
				<tbody>
					<tr>
						<td>%ml.codicelistino% :</td>
						<td class="tooltip"><input type="text" name="codicelistino" required style="%codicelistinoStyle%" title="%codicelistinoTip%" size="5" maxlength="3" value="%codicelistino%" %codicelistinoDisable% /></td>
					</tr>
					<tr>
						<td>%ml.descrizionelistino% :</td>
						<td class="tooltip"><input type="text" name="descrizionelistino" required style="%descrizionelistinoStyle%" title="%descrizionelistinoTip%" size="110" maxlength="100" value="%descrizionelistino%" %descrizionelistinoDisable% /></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip">
							<button class="button" title="%testoAzione%" >%ml.conferma%</button>
							<input type="hidden" name="idlistino" value="%idlistino%"/>
						</td>
					</tr>
				</tfoot>
			</table>
			<br/>
		</form>
		<form class="tooltip" method="post" action="../impostazioni/ricercaListinoFacade.class.php?modo=start" >
			<button class="button" title="Torna alla funzione precedente" %azione% >%ml.indietro%</button>
		</form>
	</div>
</div>
<br/>					