<tr %class%>
	<td align="center">%codicevoce%</td>
	<td align="left">%descrizionevoce%</td>
	<td align="center">%tipovoce%</td>
	<td align="right">%prezzo%</td>
	<td id="icons"><a class="tooltip" href="modificaVoceFacade.class.php?modo=start&idvoce=%idvoce%&codicevoce=%codicevoce%&idcategoria=%idcategoria%&codicecategoria=%codicecategoria%&descrizionecategoria=%descrizionecategoria%"><li class="ui-state-default ui-corner-all" title="%ml.modificaVoceTip%"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons">%bottoneCancella%</td>
</tr>
