<tr %class%>
	<td align="center">%codicelistino%</td>
	<td align="left">%descrizionelistino%</td>
	<td id="icons"><a class="tooltip" href="modificaListinoFacade.class.php?modo=start&idlistino=%idlistino%&codicelistino=%codicelistino%&descrizionelistino=%descrizionelistino%"><li class="ui-state-default ui-corner-all" title="%ml.modificaListinoTip%"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="ricercaVociListinoFacade.class.php?modo=start&idlistino=%idlistino%&codicelistino=%codicelistino%&descrizionelistino=%descrizionelistino%"><li class="ui-state-default ui-corner-all" title="%ml.vociListinoTip%"><span class="ui-icon ui-icon-wrench"></span></li></a></td>
	<td id="icons">%bottoneCancella%</td>
</tr>
