<tr %class%>
	<td align="center">%codicecategoria%</td>
	<td align="left">%descrizionecategoria%</td>
	<td id="icons"><a class="tooltip" href="modificaCategoriaFacade.class.php?modo=start&idcategoria=%idcategoria%&codicecategoria=%codicecategoria%&descrizionecategoria=%descrizionecategoria%"><li class="ui-state-default ui-corner-all" title="%ml.modificaCategoria%"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="ricercaVociFacade.class.php?modo=start&idcategoria=%idcategoria%&codicecategoria=%codicecategoria%&descrizionecategoria=%descrizionecategoria%"><li class="ui-state-default ui-corner-all" title="%ml.vociCategoria%"><span class="ui-icon ui-icon-wrench"></span></li></a></td>
	<td id="icons">%bottoneCancella%</td>
</tr>
