<table class="result">
	<tbody>
		<tr>
			<td align="left">
				<div class="scroll">
					<table class="result" id="resultTable">
						<thead>
							<tr>
								<th colspan="6"><h2>%ml.vociIncluse%</h2></th>
							</tr>
							<tr>
								<th width="40">%ml.codicevoce%</th>
								<th width="260">%ml.descrizionevoce%</th>
								<th width="40">%ml.prezzo%</th>		
								<th width="40">%ml.quantita%</th>
								<th colspan="2">%ml.azioni%</th>
							</tr>
						</thead>
						<tbody>
							%elencoVociListino%
						</tbody>
					</table>
				</div>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td align="right">
				<div class="scroll">
					<table class="result" id="resultTable">
						<thead>
							<tr>
								<th colspan="5"><h2>%ml.vociDisponibili%</h2></th>
							</tr>
							<tr>
								<th>%ml.azioni%</th>
								<th width="40">%ml.codicevoce%</th>
								<th width="300">%ml.descrizionevoce%</th>
								<th width="40">%ml.prezzo%</th>		
							</tr>
						</thead>
						<tbody>
							%elencoVociDisponibili%
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>
