<div id="body">
	<div id="main">
		<form method="post" action="%azione%" >
			<h2>%ml.modificaConfig%</h2>
			<table class="datiCreate">
				<tbody>
					<tr>
						<td><h3>%ml.db%</h3></td>
						<td><h3>%ml.cartelle%</h3></td>
					</tr>
					<tr>
						<td>
							<table>
								<tbody>
									<tr>
										<td>%ml.server% :</td>
										<td><input required name="server" type="text" style="" size="30" maxlength="30" title="%ml.serverTitle%" value="%server%"/></td>
									</tr>
									<tr>
										<td>%ml.porta% :</td>
										<td><input required name="porta" type="text" style="" size="10" maxlength="10" title="%ml.portTitle%" value="%porta%"/></td>
									</tr>
									<tr>
										<td>%ml.user% :</td>
										<td><input required name="user" type="text" style="" size="10" maxlength="10" title="%ml.userTitle%" value="%user%"/></td>
									</tr>
									<tr>
										<td>%ml.password% :</td>
										<td><input required name="password" type="password" style="" size="20" maxlength="10" title="%ml.passwordTitle%" value="%password%"/></td>
									</tr>
									<tr>
										<td>%ml.database% :</td>
										<td>
											<div class="radioset">
												<input type="radio" id="prod" name="database" %dbProdChecked% value="ellipse.prod"><label for="prod">%ml.prod%</label>
												<input type="radio" id="test" name="database" %dbTestChecked% value="ellipse.test"><label for="test">%ml.test%</label>
											</div	
										</td>
									</tr>
								</tbody>
							</table>
						</td>	
						<td>
							<table>
								<tbody>
									<tr>
										<td>%ml.template% :</td>
										<td><input required name="template" type="text" style="" size="50" maxlength="50" title="%ml.templateTitle%" value="%template%"/></td>
									</tr>
									<tr>
										<td>%ml.testataPagina% :</td>
										<td><input required name="testataPagina" type="text" style="" size="50" maxlength="50" title="%ml.headerTitle%" value="%testataPagina%"/></td>
									</tr>
									<tr>
										<td>%ml.piedePagina% :</td>
										<td><input required name="piedePagina" type="text" style="" size="50" maxlength="50" title="%ml.piedePaginaTitle%" value="%piedePagina%"/></td>
									</tr>
									<tr>
										<td>%ml.messaggioInfo% :</td>
										<td><input required name="messaggioInfo" type="text" style="" size="50" maxlength="50" title="%ml.messaggioInfoTitle%" value="%messaggioInfo%"/></td>
									</tr>
									<tr>
										<td>%ml.messaggioErrore% :</td>
										<td><input required name="messaggioErrore" type="text" style="" size="50" maxlength="50" title="%ml.messaggioErroreTitle%" value="%messaggioErrore%"/></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td><h3>%ml.lingue%</h3></td>
					</tr>
					<tr>
						<td colspan="4">
							<table>
								<tbody>
									<tr>
										<td>%ml.corrente% :</td>
										<td>
											<div class="radioset">
													<input type="radio" id="it" name="language" %languageIt% %languageItDisabled% value="it"><label for="it">%ml.it%</label>
													<input type="radio" id="en" name="language" %languageEn% %languageEnDisabled% value="en"><label for="en">%ml.en%</label>
													<input type="radio" id="fr" name="language" %languageFr% %languageFrDisabled% value="fr"><label for="fr">%ml.fr%</label>
													<input type="radio" id="de" name="language" %languageDe% %languageDeDisabled% value="de"><label for="de">%ml.de%</label>
											</div>	
										</td>
									</tr>
									<tr>
										<td>%ml.languageFileIt% :</td>
										<td><input required name="languageFileIt" type="text" style="%languageFileItStyle%" size="50" maxlength="100" title="%ml.languageFileItTitle%" value="%languageFileIt%"/></td>
									</tr>
									<tr>
										<td>%ml.languageFileEn% :</td>
										<td><input name="languageFileEn" type="text" style="%languageFileEnStyle%" size="50" maxlength="100" title="%ml.languageFileEnTitle%" value="%languageFileEn%"/></td>
									</tr>
									<tr>
										<td>%ml.languageFileFr% :</td>
										<td><input name="languageFileFr" type="text" style="%languageFileEnStyle%" size="50" maxlength="100" title="%ml.languageFileFrTitle%" value="%languageFileFr%"/></td>
									</tr>
									<tr>
										<td>%ml.languageFileDe% :</td>
										<td><input name="languageFileDe" type="text" style="%languageFileEnStyle%" size="50" maxlength="100" title="%ml.languageFileDeTitle%" value="%languageFileDe%"/></td>
									</tr>
								</tbody>
							</table>				
						</td>
					</tr>
					
				</tbody>		
				<tfoot>
					<tr>
						<td colspan="6" align="right" class="tooltip"><button class="button" title="Conferma le modifiche fatte" >%ml.conferma%</button></td>
					</tr>
				</tfoot>
			</table>	
		</form>
	</div>
</div>
