<div class="totali">
	<table>
		<tr>
			<td width="150"><h2>%ml.totaliCartelle%</h2></td>
			<td width="400">
				<table class="result" id="totaliCartelle">
					<thead>
						<tr>
							<th width="150">%ml.cartelleAttive%</th>
							<th width="150">%ml.cartelleIncorso%</th>
							<th width="150">%ml.cartelleChiuse%</th>
						</tr>
					</thead>	
					<tbody>
						<tr>
							<td>%numcartellecliniche_attive%</td>
							<td>%numcartellecliniche_incorso%</td>
							<td>%numcartellecliniche_chiuse%</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>	
</div>
<br/>
