<div class="totali">
	<table>
		<tr>
			<td width="150"><h2>%ml.totaliPreventivi%</h2></td>
			<td width="400">
				<table class="result" id="totaliPreventivo">
					<thead>
						<tr>
							<th width="100">%ml.preventiviProposti%</th>
							<th width="100">%ml.preventiviAccettati%</th>
						</tr>	
					</thead>	
					<tbody>
						<tr>
							<td>%numpreventivi_proposti%</td>
							<td>%numpreventivi_accettati%</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>	
</div>
<br/>
