<tr %class%>
	<td>%cognome%</td>
	<td>%nome%</td>
	<td align="center">%dataNascita%</td>
	<td align="right">%numvisite%</td>
	<td align="right">%numpreventivi%</td>
	<td align="right">%numcartellecliniche%</td>
	<td id="icons"><a class="tooltip" href="dettaglioPazienteFacade.class.php?modo=start&idPaziente=%idPaziente%&cognRic=%cognomeRicerca%"><li class="ui-state-default ui-corner-all" title="Dettaglio"><span class="ui-icon ui-icon-search"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="modificaPazienteFacade.class.php?modo=start&idPaziente=%idPaziente%&cognRic=%cognomeRicerca%"><li class="ui-state-default ui-corner-all" title="Modifica"><span class="ui-icon ui-icon-pencil"></span></li></a></td>
	<td id="icons">%bottoneCancella%</td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Visite"><span class="ui-icon ui-icon-person"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Preventivi"><span class="ui-icon ui-icon-note"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Cartelle cliniche"><span class="ui-icon ui-icon-clipboard"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Prescrizioni"><span class="ui-icon ui-icon-script"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Fatture"><span class="ui-icon ui-icon-document"></span></li></a></td>
	<td id="icons"><a class="tooltip" href="#.php?modo=start&idPaziente=%idPaziente%"><li class="ui-state-default ui-corner-all" title="Radiografie"><span class="ui-icon ui-icon-image"></span></li></a></td>
</tr>
