<body>

<script>
	var vociListino = [%vociListino%];	
</script>
	
<div id="body">	
	<div id="main">

		<h2>%titoloPagina%</h2>
		<div class="tabs">
			<ul>
				<li><a href="#tabs-1">%cognome% %nome% %datanascita%</a></li>
				<li><a href="#tabs-2">%ml.vociListinoPaziente%</a></li>
			</ul>
			<div id="tabs-1">

				<form method="post" action="%azioneDentiSingoli%" >
					<table><tr><td>						
					<table class="datiCreate">
						<tbody>
							<tr>
								<td>
									<table class="result-alt">
										<tbody>
											<tr>
												<td><input name="SD_18_1" id="SD_18_1" class="autocomplete" size="2" maxlength="3" value="%SD_18_1%"></td>
												<td><input name="SD_17_1" id="SD_17_1" class="autocomplete" size="2" maxlength="3" value="%SD_17_1%"></td>
												<td><input name="SD_16_1" id="SD_16_1" class="autocomplete" size="2" maxlength="3" value="%SD_16_1%"></td>
												<td><input name="SD_15_1" id="SD_15_1" class="autocomplete" size="2" maxlength="3" value="%SD_15_1%"></td>
												<td><input name="SD_14_1" id="SD_14_1" class="autocomplete" size="2" maxlength="3" value="%SD_14_1%"></td>
												<td><input name="SD_13_1" id="SD_13_1" class="autocomplete" size="2" maxlength="3" value="%SD_13_1%"></td>
												<td><input name="SD_12_1" id="SD_12_1" class="autocomplete" size="2" maxlength="3" value="%SD_12_1%"></td>
												<td><input name="SD_11_1" id="SD_11_1" class="autocomplete" size="2" maxlength="3" value="%SD_11_1%"></td>
											</tr>
											<tr>
												<td><input name="SD_18_2" id="SD_18_2" class="autocomplete" size="2" maxlength="3" value="%SD_18_2%"></td>
												<td><input name="SD_17_2" id="SD_17_2" class="autocomplete" size="2" maxlength="3" value="%SD_17_2%"></td>
												<td><input name="SD_16_2" id="SD_16_2" class="autocomplete" size="2" maxlength="3" value="%SD_16_2%"></td>
												<td><input name="SD_15_2" id="SD_15_2" class="autocomplete" size="2" maxlength="3" value="%SD_15_2%"></td>
												<td><input name="SD_14_2" id="SD_14_2" class="autocomplete" size="2" maxlength="3" value="%SD_14_2%"></td>
												<td><input name="SD_13_2" id="SD_13_2" class="autocomplete" size="2" maxlength="3" value="%SD_13_2%"></td>
												<td><input name="SD_12_2" id="SD_12_2" class="autocomplete" size="2" maxlength="3" value="%SD_12_2%"></td>
												<td><input name="SD_11_2" id="SD_11_2" class="autocomplete" size="2" maxlength="3" value="%SD_11_2%"></td>
											</tr>
											<tr>
												<td><input name="SD_18_3" id="SD_18_3" class="autocomplete" size="2" maxlength="3" value="%SD_18_3%"></td>
												<td><input name="SD_17_3" id="SD_17_3" class="autocomplete" size="2" maxlength="3" value="%SD_17_3%"></td>
												<td><input name="SD_16_3" id="SD_16_3" class="autocomplete" size="2" maxlength="3" value="%SD_16_3%"></td>
												<td><input name="SD_15_3" id="SD_15_3" class="autocomplete" size="2" maxlength="3" value="%SD_15_3%"></td>
												<td><input name="SD_14_3" id="SD_14_3" class="autocomplete" size="2" maxlength="3" value="%SD_14_3%"></td>
												<td><input name="SD_13_3" id="SD_13_3" class="autocomplete" size="2" maxlength="3" value="%SD_13_3%"></td>
												<td><input name="SD_12_3" id="SD_12_3" class="autocomplete" size="2" maxlength="3" value="%SD_12_3%"></td>
												<td><input name="SD_11_3" id="SD_11_3" class="autocomplete" size="2" maxlength="3" value="%SD_11_3%"></td>
											</tr>
											<tr>
												<td><input name="SD_18_4" id="SD_18_4" class="autocomplete" size="2" maxlength="3" value="%SD_18_4%"></td>
												<td><input name="SD_17_4" id="SD_17_4" class="autocomplete" size="2" maxlength="3" value="%SD_17_4%"></td>
												<td><input name="SD_16_4" id="SD_16_4" class="autocomplete" size="2" maxlength="3" value="%SD_16_4%"></td>
												<td><input name="SD_15_4" id="SD_15_4" class="autocomplete" size="2" maxlength="3" value="%SD_15_4%"></td>
												<td><input name="SD_14_4" id="SD_14_4" class="autocomplete" size="2" maxlength="3" value="%SD_14_4%"></td>
												<td><input name="SD_13_4" id="SD_13_4" class="autocomplete" size="2" maxlength="3" value="%SD_13_4%"></td>
												<td><input name="SD_12_4" id="SD_12_4" class="autocomplete" size="2" maxlength="3" value="%SD_12_4%"></td>
												<td><input name="SD_11_4" id="SD_11_4" class="autocomplete" size="2" maxlength="3" value="%SD_11_4%"></td>
											</tr>
											<tr>
												<td><input name="SD_18_5" id="SD_18_5" class="autocomplete" size="2" maxlength="3" value="%SD_18_5%"></td>
												<td><input name="SD_17_5" id="SD_17_5" class="autocomplete" size="2" maxlength="3" value="%SD_17_5%"></td>
												<td><input name="SD_16_5" id="SD_16_5" class="autocomplete" size="2" maxlength="3" value="%SD_16_5%"></td>
												<td><input name="SD_15_5" id="SD_15_5" class="autocomplete" size="2" maxlength="3" value="%SD_15_5%"></td>
												<td><input name="SD_14_5" id="SD_14_5" class="autocomplete" size="2" maxlength="3" value="%SD_14_5%"></td>
												<td><input name="SD_13_5" id="SD_13_5" class="autocomplete" size="2" maxlength="3" value="%SD_13_5%"></td>
												<td><input name="SD_12_5" id="SD_12_5" class="autocomplete" size="2" maxlength="3" value="%SD_12_5%"></td>
												<td><input name="SD_11_5" id="SD_11_5" class="autocomplete" size="2" maxlength="3" value="%SD_11_5%"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>18</th>
												<th>17</th>
												<th>16</th>
												<th>15</th>
												<th>14</th>
												<th>13</th>
												<th>12</th>
												<th>11</th>
											</tr>
										</tfoot>
									</table>	
								</td>
								<td>
									<table class="result-alt">
										<tbody>
											<tr>
												<td><input name="SS_21_1" id="SS_21_1" class="autocomplete" size="2" maxlength="3" value="%SS_21_1%"></td>
												<td><input name="SS_22_1" id="SS_22_1" class="autocomplete" size="2" maxlength="3" value="%SS_22_1%"></td>
												<td><input name="SS_23_1" id="SS_23_1" class="autocomplete" size="2" maxlength="3" value="%SS_23_1%"></td>
												<td><input name="SS_24_1" id="SS_24_1" class="autocomplete" size="2" maxlength="3" value="%SS_24_1%"></td>
												<td><input name="SS_25_1" id="SS_25_1" class="autocomplete" size="2" maxlength="3" value="%SS_25_1%"></td>
												<td><input name="SS_26_1" id="SS_26_1" class="autocomplete" size="2" maxlength="3" value="%SS_26_1%"></td>
												<td><input name="SS_27_1" id="SS_27_1" class="autocomplete" size="2" maxlength="3" value="%SS_27_1%"></td>
												<td><input name="SS_28_1" id="SS_28_1" class="autocomplete" size="2" maxlength="3" value="%SS_28_1%"></td>
											</tr>
											<tr>
												<td><input name="SS_21_2" id="SS_21_2" class="autocomplete" size="2" maxlength="3" value="%SS_21_2%"></td>
												<td><input name="SS_22_2" id="SS_22_2" class="autocomplete" size="2" maxlength="3" value="%SS_22_2%"></td>
												<td><input name="SS_23_2" id="SS_23_2" class="autocomplete" size="2" maxlength="3" value="%SS_23_2%"></td>
												<td><input name="SS_24_2" id="SS_24_2" class="autocomplete" size="2" maxlength="3" value="%SS_24_2%"></td>
												<td><input name="SS_25_2" id="SS_25_2" class="autocomplete" size="2" maxlength="3" value="%SS_25_2%"></td>
												<td><input name="SS_26_2" id="SS_26_2" class="autocomplete" size="2" maxlength="3" value="%SS_26_2%"></td>
												<td><input name="SS_27_2" id="SS_27_2" class="autocomplete" size="2" maxlength="3" value="%SS_27_2%"></td>
												<td><input name="SS_28_2" id="SS_28_2" class="autocomplete" size="2" maxlength="3" value="%SS_28_2%"></td>
											</tr>
											<tr>
												<td><input name="SS_21_3" id="SS_21_3" class="autocomplete" size="2" maxlength="3" value="%SS_21_3%"></td>
												<td><input name="SS_22_3" id="SS_22_3" class="autocomplete" size="2" maxlength="3" value="%SS_22_3%"></td>
												<td><input name="SS_23_3" id="SS_23_3" class="autocomplete" size="2" maxlength="3" value="%SS_23_3%"></td>
												<td><input name="SS_24_3" id="SS_24_3" class="autocomplete" size="2" maxlength="3" value="%SS_24_3%"></td>
												<td><input name="SS_25_3" id="SS_25_3" class="autocomplete" size="2" maxlength="3" value="%SS_25_3%"></td>
												<td><input name="SS_26_3" id="SS_26_3" class="autocomplete" size="2" maxlength="3" value="%SS_26_3%"></td>
												<td><input name="SS_27_3" id="SS_27_3" class="autocomplete" size="2" maxlength="3" value="%SS_27_3%"></td>
												<td><input name="SS_28_3" id="SS_28_3" class="autocomplete" size="2" maxlength="3" value="%SS_28_3%"></td>
											</tr>
											<tr>
												<td><input name="SS_21_4" id="SS_21_4" class="autocomplete" size="2" maxlength="3" value="%SS_21_4%"></td>
												<td><input name="SS_22_4" id="SS_22_4" class="autocomplete" size="2" maxlength="3" value="%SS_22_4%"></td>
												<td><input name="SS_23_4" id="SS_23_4" class="autocomplete" size="2" maxlength="3" value="%SS_23_4%"></td>
												<td><input name="SS_24_4" id="SS_24_4" class="autocomplete" size="2" maxlength="3" value="%SS_24_4%"></td>
												<td><input name="SS_25_4" id="SS_25_4" class="autocomplete" size="2" maxlength="3" value="%SS_25_4%"></td>
												<td><input name="SS_26_4" id="SS_26_4" class="autocomplete" size="2" maxlength="3" value="%SS_26_4%"></td>
												<td><input name="SS_27_4" id="SS_27_4" class="autocomplete" size="2" maxlength="3" value="%SS_27_4%"></td>
												<td><input name="SS_28_4" id="SS_28_4" class="autocomplete" size="2" maxlength="3" value="%SS_28_4%"></td>
											</tr>
											<tr>
												<td><input name="SS_21_5" id="SS_21_5" class="autocomplete" size="2" maxlength="3" value="%SS_21_5%"></td>
												<td><input name="SS_22_5" id="SS_22_5" class="autocomplete" size="2" maxlength="3" value="%SS_22_5%"></td>
												<td><input name="SS_23_5" id="SS_23_5" class="autocomplete" size="2" maxlength="3" value="%SS_23_5%"></td>
												<td><input name="SS_24_5" id="SS_24_5" class="autocomplete" size="2" maxlength="3" value="%SS_24_5%"></td>
												<td><input name="SS_25_5" id="SS_25_5" class="autocomplete" size="2" maxlength="3" value="%SS_25_5%"></td>
												<td><input name="SS_26_5" id="SS_26_5" class="autocomplete" size="2" maxlength="3" value="%SS_26_5%"></td>
												<td><input name="SS_27_5" id="SS_27_5" class="autocomplete" size="2" maxlength="3" value="%SS_27_5%"></td>
												<td><input name="SS_28_5" id="SS_28_5" class="autocomplete" size="2" maxlength="3" value="%SS_28_5%"></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>21</th>
												<th>22</th>
												<th>23</th>
												<th>24</th>
												<th>25</th>
												<th>26</th>
												<th>27</th>
												<th>28</th>
											</tr>
										</tfoot>
									</table>	
								</td>
							</tr>
							<tr style="border-collapse: collapse;">
								<td>
									<table class="result-alt">
										<thead>
											<tr>
												<th>48</th>
												<th>47</th>
												<th>46</th>
												<th>45</th>
												<th>44</th>
												<th>43</th>
												<th>42</th>
												<th>41</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input name="ID_48_1" id="ID_48_1" class="autocomplete" size="2" maxlength="3" value="%ID_48_1%"></td>
												<td><input name="ID_47_1" id="ID_47_1" class="autocomplete" size="2" maxlength="3" value="%ID_47_1%"></td>
												<td><input name="ID_46_1" id="ID_46_1" class="autocomplete" size="2" maxlength="3" value="%ID_46_1%"></td>
												<td><input name="ID_45_1" id="ID_45_1" class="autocomplete" size="2" maxlength="3" value="%ID_45_1%"></td>
												<td><input name="ID_44_1" id="ID_44_1" class="autocomplete" size="2" maxlength="3" value="%ID_44_1%"></td>
												<td><input name="ID_43_1" id="ID_43_1" class="autocomplete" size="2" maxlength="3" value="%ID_43_1%"></td>
												<td><input name="ID_42_1" id="ID_42_1" class="autocomplete" size="2" maxlength="3" value="%ID_42_1%"></td>
												<td><input name="ID_41_1" id="ID_41_1" class="autocomplete" size="2" maxlength="3" value="%ID_41_1%"></td>
											</tr>
											<tr>
												<td><input name="ID_48_2" id="ID_48_2" class="autocomplete" size="2" maxlength="3" value="%ID_48_2%"></td>
												<td><input name="ID_47_2" id="ID_47_2" class="autocomplete" size="2" maxlength="3" value="%ID_47_2%"></td>
												<td><input name="ID_46_2" id="ID_46_2" class="autocomplete" size="2" maxlength="3" value="%ID_46_2%"></td>
												<td><input name="ID_45_2" id="ID_45_2" class="autocomplete" size="2" maxlength="3" value="%ID_45_2%"></td>
												<td><input name="ID_44_2" id="ID_44_2" class="autocomplete" size="2" maxlength="3" value="%ID_44_2%"></td>
												<td><input name="ID_43_2" id="ID_43_2" class="autocomplete" size="2" maxlength="3" value="%ID_43_2%"></td>
												<td><input name="ID_42_2" id="ID_42_2" class="autocomplete" size="2" maxlength="3" value="%ID_42_2%"></td>
												<td><input name="ID_41_2" id="ID_41_2" class="autocomplete" size="2" maxlength="3" value="%ID_41_2%"></td>
											</tr>
											<tr>
												<td><input name="ID_48_3" id="ID_48_3" class="autocomplete" size="2" maxlength="3" value="%ID_48_3%"></td>
												<td><input name="ID_47_3" id="ID_47_3" class="autocomplete" size="2" maxlength="3" value="%ID_47_3%"></td>
												<td><input name="ID_46_3" id="ID_46_3" class="autocomplete" size="2" maxlength="3" value="%ID_46_3%"></td>
												<td><input name="ID_45_3" id="ID_45_3" class="autocomplete" size="2" maxlength="3" value="%ID_45_3%"></td>
												<td><input name="ID_44_3" id="ID_44_3" class="autocomplete" size="2" maxlength="3" value="%ID_44_3%"></td>
												<td><input name="ID_43_3" id="ID_43_3" class="autocomplete" size="2" maxlength="3" value="%ID_43_3%"></td>
												<td><input name="ID_42_3" id="ID_42_3" class="autocomplete" size="2" maxlength="3" value="%ID_42_3%"></td>
												<td><input name="ID_41_3" id="ID_41_3" class="autocomplete" size="2" maxlength="3" value="%ID_41_3%"></td>
											</tr>
											<tr>
												<td><input name="ID_48_4" id="ID_48_4" class="autocomplete" size="2" maxlength="3" value="%ID_48_4%"></td>
												<td><input name="ID_47_4" id="ID_47_4" class="autocomplete" size="2" maxlength="3" value="%ID_47_4%"></td>
												<td><input name="ID_46_4" id="ID_46_4" class="autocomplete" size="2" maxlength="3" value="%ID_46_4%"></td>
												<td><input name="ID_45_4" id="ID_45_4" class="autocomplete" size="2" maxlength="3" value="%ID_45_4%"></td>
												<td><input name="ID_44_4" id="ID_44_4" class="autocomplete" size="2" maxlength="3" value="%ID_44_4%"></td>
												<td><input name="ID_43_4" id="ID_43_4" class="autocomplete" size="2" maxlength="3" value="%ID_43_4%"></td>
												<td><input name="ID_42_4" id="ID_42_4" class="autocomplete" size="2" maxlength="3" value="%ID_42_4%"></td>
												<td><input name="ID_41_4" id="ID_41_4" class="autocomplete" size="2" maxlength="3" value="%ID_41_4%"></td>
											</tr>
											<tr>
												<td><input name="ID_48_5" id="ID_48_5" class="autocomplete" size="2" maxlength="3" value="%ID_48_5%"></td>
												<td><input name="ID_47_5" id="ID_47_5" class="autocomplete" size="2" maxlength="3" value="%ID_47_5%"></td>
												<td><input name="ID_46_5" id="ID_46_5" class="autocomplete" size="2" maxlength="3" value="%ID_46_5%"></td>
												<td><input name="ID_45_5" id="ID_45_5" class="autocomplete" size="2" maxlength="3" value="%ID_45_5%"></td>
												<td><input name="ID_44_5" id="ID_44_5" class="autocomplete" size="2" maxlength="3" value="%ID_44_5%"></td>
												<td><input name="ID_43_5" id="ID_43_5" class="autocomplete" size="2" maxlength="3" value="%ID_43_5%"></td>
												<td><input name="ID_42_5" id="ID_42_5" class="autocomplete" size="2" maxlength="3" value="%ID_42_5%"></td>
												<td><input name="ID_41_5" id="ID_41_5" class="autocomplete" size="2" maxlength="3" value="%ID_41_5%"></td>
											</tr>
										</tbody>
									</table>	
								</td>
								<td>
									<table class="result-alt">
										<thead>
											<tr>
												<th>31</th>
												<th>32</th>
												<th>33</th>
												<th>34</th>
												<th>35</th>
												<th>36</th>
												<th>37</th>
												<th>38</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><input name="IS_31_1" id="IS_31_1" class="autocomplete" size="2" maxlength="3" value="%IS_31_1%"></td>
												<td><input name="IS_32_1" id="IS_32_1" class="autocomplete" size="2" maxlength="3" value="%IS_32_1%"></td>
												<td><input name="IS_33_1" id="IS_33_1" class="autocomplete" size="2" maxlength="3" value="%IS_33_1%"></td>
												<td><input name="IS_34_1" id="IS_34_1" class="autocomplete" size="2" maxlength="3" value="%IS_34_1%"></td>
												<td><input name="IS_35_1" id="IS_35_1" class="autocomplete" size="2" maxlength="3" value="%IS_35_1%"></td>
												<td><input name="IS_36_1" id="IS_36_1" class="autocomplete" size="2" maxlength="3" value="%IS_36_1%"></td>
												<td><input name="IS_37_1" id="IS_37_1" class="autocomplete" size="2" maxlength="3" value="%IS_37_1%"></td>
												<td><input name="IS_38_1" id="IS_38_1" class="autocomplete" size="2" maxlength="3" value="%IS_38_1%"></td>
											</tr>
											<tr>
												<td><input name="IS_31_2" id="IS_31_2" class="autocomplete" size="2" maxlength="3" value="%IS_31_2%"></td>
												<td><input name="IS_32_2" id="IS_32_2" class="autocomplete" size="2" maxlength="3" value="%IS_32_2%"></td>
												<td><input name="IS_33_2" id="IS_33_2" class="autocomplete" size="2" maxlength="3" value="%IS_33_2%"></td>
												<td><input name="IS_34_2" id="IS_34_2" class="autocomplete" size="2" maxlength="3" value="%IS_34_2%"></td>
												<td><input name="IS_35_2" id="IS_35_2" class="autocomplete" size="2" maxlength="3" value="%IS_35_2%"></td>
												<td><input name="IS_36_2" id="IS_36_2" class="autocomplete" size="2" maxlength="3" value="%IS_36_2%"></td>
												<td><input name="IS_37_2" id="IS_37_2" class="autocomplete" size="2" maxlength="3" value="%IS_37_2%"></td>
												<td><input name="IS_38_2" id="IS_38_2" class="autocomplete" size="2" maxlength="3" value="%IS_38_2%"></td>
											</tr>
											<tr>
												<td><input name="IS_31_3" id="IS_31_3" class="autocomplete" size="2" maxlength="3" value="%IS_31_3%"></td>
												<td><input name="IS_32_3" id="IS_32_3" class="autocomplete" size="2" maxlength="3" value="%IS_32_3%"></td>
												<td><input name="IS_33_3" id="IS_33_3" class="autocomplete" size="2" maxlength="3" value="%IS_33_3%"></td>
												<td><input name="IS_34_3" id="IS_34_3" class="autocomplete" size="2" maxlength="3" value="%IS_34_3%"></td>
												<td><input name="IS_35_3" id="IS_35_3" class="autocomplete" size="2" maxlength="3" value="%IS_35_3%"></td>
												<td><input name="IS_36_3" id="IS_36_3" class="autocomplete" size="2" maxlength="3" value="%IS_36_3%"></td>
												<td><input name="IS_37_3" id="IS_37_3" class="autocomplete" size="2" maxlength="3" value="%IS_37_3%"></td>
												<td><input name="IS_38_3" id="IS_38_3" class="autocomplete" size="2" maxlength="3" value="%IS_38_3%"></td>
											</tr>
											<tr>
												<td><input name="IS_31_4" id="IS_31_4" class="autocomplete" size="2" maxlength="3" value="%IS_31_4%"></td>
												<td><input name="IS_32_4" id="IS_32_4" class="autocomplete" size="2" maxlength="3" value="%IS_32_4%"></td>
												<td><input name="IS_33_4" id="IS_33_4" class="autocomplete" size="2" maxlength="3" value="%IS_33_4%"></td>
												<td><input name="IS_34_4" id="IS_34_4" class="autocomplete" size="2" maxlength="3" value="%IS_34_4%"></td>
												<td><input name="IS_35_4" id="IS_35_4" class="autocomplete" size="2" maxlength="3" value="%IS_35_4%"></td>
												<td><input name="IS_36_4" id="IS_36_4" class="autocomplete" size="2" maxlength="3" value="%IS_36_4%"></td>
												<td><input name="IS_37_4" id="IS_37_4" class="autocomplete" size="2" maxlength="3" value="%IS_37_4%"></td>
												<td><input name="IS_38_4" id="IS_38_4" class="autocomplete" size="2" maxlength="3" value="%IS_38_4%"></td>
											</tr>
											<tr>
												<td><input name="IS_31_5" id="IS_31_5" class="autocomplete" size="2" maxlength="3" value="%IS_31_5%"></td>
												<td><input name="IS_32_5" id="IS_32_5" class="autocomplete" size="2" maxlength="3" value="%IS_32_5%"></td>
												<td><input name="IS_33_5" id="IS_33_5" class="autocomplete" size="2" maxlength="3" value="%IS_33_5%"></td>
												<td><input name="IS_34_5" id="IS_34_5" class="autocomplete" size="2" maxlength="3" value="%IS_34_5%"></td>
												<td><input name="IS_35_5" id="IS_35_5" class="autocomplete" size="2" maxlength="3" value="%IS_35_5%"></td>
												<td><input name="IS_36_5" id="IS_36_5" class="autocomplete" size="2" maxlength="3" value="%IS_36_5%"></td>
												<td><input name="IS_37_5" id="IS_37_5" class="autocomplete" size="2" maxlength="3" value="%IS_37_5%"></td>
												<td><input name="IS_38_5" id="IS_38_5" class="autocomplete" size="2" maxlength="3" value="%IS_38_5%"></td>
											</tr>
										</tbody>
									</table>	
								</td>
							</tr>
						</tbody>				
						<tfoot>
							<tr>
								<td colspan="2" align="right" class="tooltip"><button class="button" title="%confermaTip%" >%ml.conferma%</button></td>
								<input type="hidden" name="idPaziente" value="%idPaziente%"/>
								<input type="hidden" name="idListino" value="%idListino%"/>
								<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
							</tr>
						</tfoot>
					</table>
					</td>
					<td width="100%" align="center"><img src="../../images/numerazione_denti_3.jpg" width="70%"></img></td>	
					</tr></table>
				</form>
				
			</div>
			
			<div id="tabs-2">
				
				<p>Questa funzionalit&agrave; di creazione visita iniziale per singoli denti ti permette di attribuite fino a cinque tipi di interventi per ciascun dente.</p>
				<p>Le voci che hai a disposizione sono quelle del listino asssegnato al paziente elencato qui sotto.</p>
				<h2>Come si fa</h2>
				<ul>
					<li>Posizionati sul dente interessato e digita la lettera iniziale della voce</li>
					<li>Ti verranno proposte tutte le voci il cui codice inizia per la lettera che hai digitato, scegli la voce interessata</li>
					<li>Conferma la creazione col bottone "Conferma"</li>
				</ul>
				
				<table class="result-alt" id="resultTable">
					<thead>
						<th width="80">%ml.codice%</th>
						<th width="700">%ml.descrizioneLavoro%</th>
					</thead>
					<tbody>%vociListinoEsteso%</tbody>
				</table>			
				
			</div>			
		</div>
		<table>
			<tr>
				<td>
					<form class="tooltip" method="post" action="../paziente/creaVisitaGruppiFacade.class.php?modo=start" >
						<button class="button" title="%ml.creaGruppi%" %azione% >%ml.gruppi%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../paziente/creaVisitaCureFacade.class.php?modo=start" >
						<button class="button" title="%ml.creaCure%" %azione% >%ml.cure%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../paziente/ricercaVisitaFacade.class.php?modo=start" >
						<button class="button" title="%ml.funzPrec%" %azione% >%ml.indietro%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
			</tr>
		</table>
	</div>
</div>
