<body>
	
<div id="body">
	<div id="main">
		
		<h2>%titoloPagina%</h2>
		<table>
			<tr>
				<td>
					<form class="tooltip" method="post" action="%azione%" >
						<button class="button" title="%azioneTip%" >%labelBottone%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idVisita" value="%idVisita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../paziente/ricercaVisitaFacade.class.php?modo=start" >
						<button class="button" title="%ml.funzPrec%" %azione% >%ml.indietro%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="idVisita" value="%idVisita%"/>
					</form>		
				</td>
			</tr>
		</table>			
		
		<div class="tabs">
			<ul>
				%riepilogoDentiSingoliTab%
				%riepilogoGruppiTab%
				%riepilogoCureTab%
			</ul>
			
			%riepilogoDentiSingoliDiv%
			%riepilogoGruppiDiv%
			%riepilogoCureDiv%
			
		</div>
	</div>
</div>
<br/>
