<div id="tabs-1">
	<form method="post" action="%azione%" >
		<table class="ricerca">
			<tbody>
				<tr>
					<td>%ml.paziente% :</td> <td><strong>%cognome% %nome%</strong></td>
					<td>%ml.dataNasc% :</td> <td><strong>%datanascita%</strong></td>
				</tr>
				<tr>
					<td>%ml.idvisita% :</td> <td><strong>%idvisita%</strong></td>
					<td>%ml.datainserimento% :</td> <td><strong>%datainserimento%</strong></td>
				</tr>
				<tr>
					<td>%ml.statovisita% :</td> <td><strong>%stato%</strong></td>						
				</tr>
			</tbody>
		</table>
		<br/>
		<table class="result">
			<thead>
				<tr>
					<th width="50">%ml.tipo%</th>
					<th width="80">%ml.dente%</th>
					<th width="50">%ml.codice%</th>
					<th width="700">%ml.descrizioneLavoro%</th>
				</tr>
			</thead>
			<tbody>
				%riepilogoDentiSingoli%
			</tbody>
		</table>	
	</form>
</div>
