<body>

<script>
	var vociListino = [%vociListino%];	
</script>
	
<div id="body">	
	<div id="main">

		<h2>%titoloPagina%</h2>
		<div class="tabs">
			<ul>
				<li><a href="#tabs-1">%cognome% %nome% %datanascita%</a></li>
				<li><a href="#tabs-2">%ml.vociListinoPaziente%</a></li>
			</ul>
			
			<div id="tabs-1">

				<form method="post" id="gruppi" action="%azione%" >
					<table class="datiCreate">
						<tbody>
							<tr>
								<td>
									<select class="selectmenu" id="voceGruppo_1" name="voceGruppo_1"> %vociListinoGruppo_1% </select>

									<table class="result-alt">
										<tr>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SD_18_1" id="SD_18_1" %SD_18_1_checked% ></td>
															<td><input type="checkbox" name="SD_17_1" id="SD_17_1" %SD_17_1_checked% ></td>
															<td><input type="checkbox" name="SD_16_1" id="SD_16_1" %SD_16_1_checked% ></td>
															<td><input type="checkbox" name="SD_15_1" id="SD_15_1" %SD_15_1_checked% ></td>
															<td><input type="checkbox" name="SD_14_1" id="SD_14_1" %SD_14_1_checked% ></td>
															<td><input type="checkbox" name="SD_13_1" id="SD_13_1" %SD_13_1_checked% ></td>
															<td><input type="checkbox" name="SD_12_1" id="SD_12_1" %SD_12_1_checked% ></td>
															<td><input type="checkbox" name="SD_11_1" id="SD_11_1" %SD_11_1_checked% ></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>18</th>
															<th>17</th>
															<th>16</th>
															<th>15</th>
															<th>14</th>
															<th>13</th>
															<th>12</th>
															<th>11</th>
														</tr>
													</tfoot>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SS_21_1" id="SS_21_1"></td>
															<td><input type="checkbox" name="SS_22_1" id="SS_22_1"></td>
															<td><input type="checkbox" name="SS_23_1" id="SS_23_1"></td>
															<td><input type="checkbox" name="SS_24_1" id="SS_24_1"></td>
															<td><input type="checkbox" name="SS_25_1" id="SS_25_1"></td>
															<td><input type="checkbox" name="SS_26_1" id="SS_26_1"></td>
															<td><input type="checkbox" name="SS_27_1" id="SS_27_1"></td>
															<td><input type="checkbox" name="SS_28_1" id="SS_28_1"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>21</th>
															<th>22</th>
															<th>23</th>
															<th>24</th>
															<th>25</th>
															<th>26</th>
															<th>27</th>
															<th>28</th>
														</tr>
													</tfoot>
												</table>	
											</td>
										</tr>
										<tr style="border-collapse: collapse;">
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>48</th>
															<th>47</th>
															<th>46</th>
															<th>45</th>
															<th>44</th>
															<th>43</th>
															<th>42</th>
															<th>41</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="ID_48_1" id="ID_48_1"></td>
															<td><input type="checkbox" name="ID_47_1" id="ID_47_1"></td>
															<td><input type="checkbox" name="ID_46_1" id="ID_46_1"></td>
															<td><input type="checkbox" name="ID_45_1" id="ID_45_1"></td>
															<td><input type="checkbox" name="ID_44_1" id="ID_44_1"></td>
															<td><input type="checkbox" name="ID_43_1" id="ID_43_1"></td>
															<td><input type="checkbox" name="ID_42_1" id="ID_42_1"></td>
															<td><input type="checkbox" name="ID_41_1" id="ID_41_1"></td>
														</tr>
													</tbody>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>31</th>
															<th>32</th>
															<th>33</th>
															<th>34</th>
															<th>35</th>
															<th>36</th>
															<th>37</th>
															<th>38</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="IS_31_1" id="IS_31_1"></td>
															<td><input type="checkbox" name="IS_32_1" id="IS_32_1"></td>
															<td><input type="checkbox" name="IS_33_1" id="IS_33_1"></td>
															<td><input type="checkbox" name="IS_34_1" id="IS_34_1"></td>
															<td><input type="checkbox" name="IS_35_1" id="IS_35_1"></td>
															<td><input type="checkbox" name="IS_36_1" id="IS_36_1"></td>
															<td><input type="checkbox" name="IS_37_1" id="IS_37_1"></td>
															<td><input type="checkbox" name="IS_38_1" id="IS_38_1"></td>
														</tr>
													</tbody>
												</table>	
											</td>
										</tr>				
									</table>
								</td>
								<td style="padding-left: 40px;">
									<select class="selectmenu"> %vociListinoGruppo_2% </select>

									<table class="result-alt">
										<tr>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SD_18_2" id="SD_18_2"></td>
															<td><input type="checkbox" name="SD_17_2" id="SD_17_2"></td>
															<td><input type="checkbox" name="SD_16_2" id="SD_16_2"></td>
															<td><input type="checkbox" name="SD_15_2" id="SD_15_2"></td>
															<td><input type="checkbox" name="SD_14_2" id="SD_14_2"></td>
															<td><input type="checkbox" name="SD_13_2" id="SD_13_2"></td>
															<td><input type="checkbox" name="SD_12_2" id="SD_12_2"></td>
															<td><input type="checkbox" name="SD_11_2" id="SD_11_2"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>18</th>
															<th>17</th>
															<th>16</th>
															<th>15</th>
															<th>14</th>
															<th>13</th>
															<th>12</th>
															<th>11</th>
														</tr>
													</tfoot>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SS_21_2" id="SS_21_2"></td>
															<td><input type="checkbox" name="SS_22_2" id="SS_22_2"></td>
															<td><input type="checkbox" name="SS_23_2" id="SS_23_2"></td>
															<td><input type="checkbox" name="SS_24_2" id="SS_24_2"></td>
															<td><input type="checkbox" name="SS_25_2" id="SS_25_2"></td>
															<td><input type="checkbox" name="SS_26_2" id="SS_26_2"></td>
															<td><input type="checkbox" name="SS_27_2" id="SS_27_2"></td>
															<td><input type="checkbox" name="SS_28_2" id="SS_28_2"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>21</th>
															<th>22</th>
															<th>23</th>
															<th>24</th>
															<th>25</th>
															<th>26</th>
															<th>27</th>
															<th>28</th>
														</tr>
													</tfoot>
												</table>	
											</td>
										</tr>
										<tr style="border-collapse: collapse;">
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>48</th>
															<th>47</th>
															<th>46</th>
															<th>45</th>
															<th>44</th>
															<th>43</th>
															<th>42</th>
															<th>41</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="ID_48_2" id="ID_48_2"></td>
															<td><input type="checkbox" name="ID_47_2" id="ID_47_2"></td>
															<td><input type="checkbox" name="ID_46_2" id="ID_46_2"></td>
															<td><input type="checkbox" name="ID_45_2" id="ID_45_2"></td>
															<td><input type="checkbox" name="ID_44_2" id="ID_44_2"></td>
															<td><input type="checkbox" name="ID_43_2" id="ID_43_2"></td>
															<td><input type="checkbox" name="ID_42_2" id="ID_42_2"></td>
															<td><input type="checkbox" name="ID_41_2" id="ID_41_2"></td>
														</tr>
													</tbody>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>31</th>
															<th>32</th>
															<th>33</th>
															<th>34</th>
															<th>35</th>
															<th>36</th>
															<th>37</th>
															<th>38</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="IS_31_2" id="IS_31_2"></td>
															<td><input type="checkbox" name="IS_32_2" id="IS_32_2"></td>
															<td><input type="checkbox" name="IS_33_2" id="IS_33_2"></td>
															<td><input type="checkbox" name="IS_34_2" id="IS_34_2"></td>
															<td><input type="checkbox" name="IS_35_2" id="IS_35_2"></td>
															<td><input type="checkbox" name="IS_36_2" id="IS_36_2"></td>
															<td><input type="checkbox" name="IS_37_2" id="IS_37_2"></td>
															<td><input type="checkbox" name="IS_38_2" id="IS_38_2"></td>
														</tr>
													</tbody>
												</table>	
											</td>
										</tr>				
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding-top: 5px;">
									<select class="selectmenu"> %vociListinoGruppo_3% </select>

									<table class="result-alt">
										<tr>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SD_18_3" id="SD_18_3"></td>
															<td><input type="checkbox" name="SD_17_3" id="SD_17_3"></td>
															<td><input type="checkbox" name="SD_16_3" id="SD_16_3"></td>
															<td><input type="checkbox" name="SD_15_3" id="SD_15_3"></td>
															<td><input type="checkbox" name="SD_14_3" id="SD_14_3"></td>
															<td><input type="checkbox" name="SD_13_3" id="SD_13_3"></td>
															<td><input type="checkbox" name="SD_12_3" id="SD_12_3"></td>
															<td><input type="checkbox" name="SD_11_3" id="SD_11_3"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>18</th>
															<th>17</th>
															<th>16</th>
															<th>15</th>
															<th>14</th>
															<th>13</th>
															<th>12</th>
															<th>11</th>
														</tr>
													</tfoot>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SS_21_3" id="SS_21_3"></td>
															<td><input type="checkbox" name="SS_22_3" id="SS_22_3"></td>
															<td><input type="checkbox" name="SS_23_3" id="SS_23_3"></td>
															<td><input type="checkbox" name="SS_24_3" id="SS_24_3"></td>
															<td><input type="checkbox" name="SS_25_3" id="SS_25_3"></td>
															<td><input type="checkbox" name="SS_26_3" id="SS_26_3"></td>
															<td><input type="checkbox" name="SS_27_3" id="SS_27_3"></td>
															<td><input type="checkbox" name="SS_28_3" id="SS_28_3"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>21</th>
															<th>22</th>
															<th>23</th>
															<th>24</th>
															<th>25</th>
															<th>26</th>
															<th>27</th>
															<th>28</th>
														</tr>
													</tfoot>
												</table>	
											</td>
										</tr>
										<tr style="border-collapse: collapse;">
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>48</th>
															<th>47</th>
															<th>46</th>
															<th>45</th>
															<th>44</th>
															<th>43</th>
															<th>42</th>
															<th>41</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="ID_48_3" id="ID_48_3"></td>
															<td><input type="checkbox" name="ID_47_3" id="ID_47_3"></td>
															<td><input type="checkbox" name="ID_46_3" id="ID_46_3"></td>
															<td><input type="checkbox" name="ID_45_3" id="ID_45_3"></td>
															<td><input type="checkbox" name="ID_44_3" id="ID_44_3"></td>
															<td><input type="checkbox" name="ID_43_3" id="ID_43_3"></td>
															<td><input type="checkbox" name="ID_42_3" id="ID_42_3"></td>
															<td><input type="checkbox" name="ID_41_3" id="ID_41_3"></td>
														</tr>
													</tbody>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>31</th>
															<th>32</th>
															<th>33</th>
															<th>34</th>
															<th>35</th>
															<th>36</th>
															<th>37</th>
															<th>38</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="IS_31_3" id="IS_31_3"></td>
															<td><input type="checkbox" name="IS_32_3" id="IS_32_3"></td>
															<td><input type="checkbox" name="IS_33_3" id="IS_33_3"></td>
															<td><input type="checkbox" name="IS_34_3" id="IS_34_3"></td>
															<td><input type="checkbox" name="IS_35_3" id="IS_35_3"></td>
															<td><input type="checkbox" name="IS_36_3" id="IS_36_3"></td>
															<td><input type="checkbox" name="IS_37_3" id="IS_37_3"></td>
															<td><input type="checkbox" name="IS_38_3" id="IS_38_3"></td>
														</tr>
													</tbody>
												</table>	
											</td>
										</tr>				
									</table>
								</td>
								<td style="padding-left: 40px; padding-top: 5px;">
									<select class="selectmenu"> %vociListinoGruppo_4% </select>

									<table class="result-alt">
										<tr>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SD_18_4" id="SD_18_4"></td>
															<td><input type="checkbox" name="SD_17_4" id="SD_17_4"></td>
															<td><input type="checkbox" name="SD_16_4" id="SD_16_4"></td>
															<td><input type="checkbox" name="SD_15_4" id="SD_15_4"></td>
															<td><input type="checkbox" name="SD_14_4" id="SD_14_4"></td>
															<td><input type="checkbox" name="SD_13_4" id="SD_13_4"></td>
															<td><input type="checkbox" name="SD_12_4" id="SD_12_4"></td>
															<td><input type="checkbox" name="SD_11_4" id="SD_11_4"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>18</th>
															<th>17</th>
															<th>16</th>
															<th>15</th>
															<th>14</th>
															<th>13</th>
															<th>12</th>
															<th>11</th>
														</tr>
													</tfoot>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<tbody>
														<tr>
															<td><input type="checkbox" name="SS_21_4" id="SS_21_4"></td>
															<td><input type="checkbox" name="SS_22_4" id="SS_22_4"></td>
															<td><input type="checkbox" name="SS_23_4" id="SS_23_4"></td>
															<td><input type="checkbox" name="SS_24_4" id="SS_24_4"></td>
															<td><input type="checkbox" name="SS_25_4" id="SS_25_4"></td>
															<td><input type="checkbox" name="SS_26_4" id="SS_26_4"></td>
															<td><input type="checkbox" name="SS_27_4" id="SS_27_4"></td>
															<td><input type="checkbox" name="SS_28_4" id="SS_28_4"></td>
														</tr>
													</tbody>
													<tfoot>
														<tr>
															<th>21</th>
															<th>22</th>
															<th>23</th>
															<th>24</th>
															<th>25</th>
															<th>26</th>
															<th>27</th>
															<th>28</th>
														</tr>
													</tfoot>
												</table>	
											</td>
										</tr>
										<tr style="border-collapse: collapse;">
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>48</th>
															<th>47</th>
															<th>46</th>
															<th>45</th>
															<th>44</th>
															<th>43</th>
															<th>42</th>
															<th>41</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="ID_48_4" id="ID_48_4"></td>
															<td><input type="checkbox" name="ID_47_4" id="ID_47_4"></td>
															<td><input type="checkbox" name="ID_46_4" id="ID_46_4"></td>
															<td><input type="checkbox" name="ID_45_4" id="ID_45_4"></td>
															<td><input type="checkbox" name="ID_44_4" id="ID_44_4"></td>
															<td><input type="checkbox" name="ID_43_4" id="ID_43_4"></td>
															<td><input type="checkbox" name="ID_42_4" id="ID_42_4"></td>
															<td><input type="checkbox" name="ID_41_4" id="ID_41_4"></td>
														</tr>
													</tbody>
												</table>	
											</td>
											<td>
												<table class="result-alt">
													<thead>
														<tr>
															<th>31</th>
															<th>32</th>
															<th>33</th>
															<th>34</th>
															<th>35</th>
															<th>36</th>
															<th>37</th>
															<th>38</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><input type="checkbox" name="IS_31_4" id="IS_31_4"></td>
															<td><input type="checkbox" name="IS_32_4" id="IS_32_4"></td>
															<td><input type="checkbox" name="IS_33_4" id="IS_33_4"></td>
															<td><input type="checkbox" name="IS_34_4" id="IS_34_4"></td>
															<td><input type="checkbox" name="IS_35_4" id="IS_35_4"></td>
															<td><input type="checkbox" name="IS_36_4" id="IS_36_4"></td>
															<td><input type="checkbox" name="IS_37_4" id="IS_37_4"></td>
															<td><input type="checkbox" name="IS_38_4" id="IS_38_4"></td>
														</tr>
													</tbody>
												</table>	
											</td>
										</tr>				
									</table>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="2" align="right" class="tooltip"><button class="button" title="%confermaTip%" >%ml.conferma%</button></td>
								<input type="hidden" name="idPaziente" value="%idPaziente%"/>
								<input type="hidden" name="idListino" value="%idListino%"/>
								<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
								<input type="hidden" name="cognome" value="%cognome%"/>
								<input type="hidden" name="nome" value="%nome%"/>
								<input type="hidden" name="datanascita" value="%datanascita%"/>
							</tr>
						</tfoot>							
					</table>
				</form>
				
			</div>
			
			<div id="tabs-2">
								
				<p>Questa funzionalit&agrave; di creazione visita iniziale per gruppi di denti ti permette di creare fino a quattro gruppi di intervento.</p>
				<p>Le voci che hai a disposizione sono quelle del listino asssegnato al paziente elencato qui sotto.</p>
				<h2>Come si fa</h2>
				<ul>
					<li>Selezione la voce di intervento in uno dei quattro men&ugrave; a discesa</li>
					<li>Sotto il men&ugrave; che hai selezionato trovi i denti sui quali fare l'intervento, seleziona quelli di interesse</li>
					<li>Conferma la creazione col bottone "Conferma"</li>
				</ul>

				<table class="result-alt" id="resultTable">
					<thead>
						<th width="80">%ml.codice%</th>
						<th width="700">%ml.descrizioneLavoro%</th>
					</thead>
					<tbody>%vociListinoEsteso%</tbody>
				</table>			
								
			</div>
		</div>
		<table>
			<tr>
				<td>
					<form class="tooltip" method="post" action="../paziente/creaVisitaFacade.class.php?modo=start" >
						<button class="button" title="%ml.creaSingoli%" %azione% >%ml.dentiSingoli%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../paziente/creaVisitaCureFacade.class.php?modo=start" >
						<button class="button" title="%ml.creaCure%" %azione% >%ml.cure%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
				<td>
					<form class="tooltip" method="post" action="../paziente/ricercaVisitaFacade.class.php?modo=start" >
						<button class="button" title="%ml.funzPrec%" %azione% >%ml.indietro%</button>
						<input type="hidden" name="cognRic" value="%cognomeRicerca%"/>
						<input type="hidden" name="idPaziente" value="%idPaziente%"/>
						<input type="hidden" name="idListino" value="%idListino%"/>
						<input type="hidden" name="cognome" value="%cognome%"/>
						<input type="hidden" name="nome" value="%nome%"/>
						<input type="hidden" name="datanascita" value="%datanascita%"/>
					</form>		
				</td>
			</tr>
		</table>
					
	</div>
</div>
